.logo {
    width: 120px;
}

.btn.btn-outline-success.my-2.my-sm-0 {
    margin-top: 45px;
    color: rgb(255, 136, 0);
    border: solid 1px rgb(255, 136, 0);
    border-radius: 7px;
}

.btn.btn-outline-success.my-2.my-sm-0:hover {
    background-color: rgb(255, 136, 0);
    color: #fff;
}

.nav-link.active:hover {
    color: rgb(255, 136, 0);
    border: solid 1px rgb(255, 136, 0);
    border-radius: 5px;
    box-shadow: 0px 1px 5px gray;
    transition: 0.5s;
}

.social {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0px 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.social i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.social:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.social::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.social:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

#last {
    background-color: #2b2b2b;
    position: relative;
}

.follow {
    font-size: 35px;
    font-family: sans-serif;
    color: #fff;
    margin-top: 176px;
}

.mail {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    color: #fff;
    margin-left: -52%;
}

.contact {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    margin-left:50%;
    margin-top: -68px;
}

.number {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 50%;
}

.email {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 50%;
}

.website {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 50%;
    margin-top: -27px;
}


.address {
    color: white;
    width: 31%;
    font-size: 23px;
    margin-left: 59%;
    margin-top: -314px;
}

.line {
    width: 2px;
    height: 400px;
    background-color: rgb(255, 136, 0);
    margin: -46px auto;
}

.white-logo {
    width: 14%;
    display: flex;
    margin: auto;
    padding-bottom: 13px;
}

.form {
    position: absolute;
    color: white;
    margin-left: 8%;
    width: 33%;
    margin-top: 21px;
    text-align: left;
    font-size: 17px;
}

.harsh {
    padding-top: 10px;
    margin: 0px;
    display: flex;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.harsh li {
    padding: 0 2px;
}

#copyright {
    background-color: #212121;
}

#last {
    text-align: center;
}

.flush-door {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

/* .flush-door:hover {
    transform: scale(1.1);
    transition: 0.5s ease-out;
} */







@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

@media (max-width: 480px)
{
    .text-1 {
        margin: 0px 0px;
        font-size: 7px;
    }
    .text-2 {
        margin: 0px 0px;
        font-size: 7px;
        padding-top: 6px;
    }
    .top {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #read-more {
        margin-top: 0px;
        font-size: 7px;
    }
    .flip-card-container {
        width: 100px;
        height: 145px;
        margin: 5px 5px;
    }
    .thesolid {
        font-size: 11px;
        font-weight: lighter;
        padding-top: 23px;
        padding-bottom: 16px;
        font-family: auto;
    }
    .impress {
        font-size: 11px;
    }
    .the-card-image {
        margin: auto;
    }
    .mail {
        font-size: 10px;
        margin-left: 0%;
        margin-bottom: 7px;
    }
    .contact {
        font-size: 10px;
        margin-top: 115px;
        margin-left: 0%;
    }
    .form {
        font-size: 5px;
        width: 91%;
        margin-left: 5%;
        margin-top: -10px;
    }
    .address {
        font-size: 7px;
        width: unset;
        margin-left: 0%;
        margin: -10px 2px;
    }
    .number {
        font-size: 7px;
        margin-top: 12px;
        margin-left: 0%;
    }
    .email {
        font-size: 7px;
        margin-left: 0%;
        margin-top: -19px;
    }
    .website {
        font-size: 7px;
        margin-left: 0%;
        margin-top: -19px;
    }
    .follow {
        font-size: 10px;
        margin-top: -10px;
    }
    .middle {
        margin-top: -23px;
    }
    .line {
        height: 221px;
        margin-top: -28px;
        display: none;
    }
    .harsh {
        font-size: 7px;
        padding: 0px;
    }
    #about {
        margin-bottom: 5px;
    }
    .form-control {
        height: 0px;
        border-radius: 2px;
    }
    textarea.form-control {
        height: 0px;
    }
    .form-group {
        margin: 0px;
    }
    .control-label {
        margin: 0px;
    } #the-submit {
        margin-top: 7px;
        font-size: 7px;
    }
    .social {
        width: 30px;
        height: 30px;
        margin: 12px 0px;
    }
    .social i {
        line-height: 30px;
        font-size: 11px;
    }
    .line-2 {
        height: 7px;
        margin-top: 2px;
    }
    .logo {
        width: 70px;
    }
    .white-logo {
        padding-bottom: 4px;
        margin-top: -12px;
    }
    .btn.photos {
        margin-top: 100px;
        width: 53px;
        height: 25px;
        font-size: 8px;
    }
    .sub-line {
        margin-top: -100px;
        font-size: 7px;
    }
}

@media (max-width: 1034px)
{
    .text-1 {
        margin: 0px 8px;
    }
    .text-2 {
        margin: 0px 8px;
    }
    .flip-card-container {
        margin-bottom: 19px;
    }
}